# Python virtual environments
.venv/
venv/
env/
ENV/

# Bytecode (often created when using a local venv)
__pycache__/
*.py[cod]
*$py.class

# Credentials
ansible/multi_cluster/env.sh

*.pem

env.sh

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log
*.tfplan
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc