[defaults]
# Avoid "provided hosts list is empty, only localhost is available"
localhost_warning = false
# Silence amazon.aws deprecation (values -> record_values) until collection is updated
deprecation_warnings = false

[inventory]
# Avoid "implicit localhost does not match 'all'" when no inventory file is used
inventory_unparsed_warning = false
